/* Christian McKinnon, CS 361, 3/16/2024
Professor Letaw
CSS Styles Code Adapted from CS290 Web Development Canvas Module Week 4: Overview-2 Cascading Style Sheets (CSS) 

Citation: https://canvas.oregonstate.edu/courses/1933705/pages/module-4-overview-2?module_item_id=23487342
  Professor Van Londen, CS 290, Oregon State University, 3/15/2024j
*/


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
